
<section class="Contact">
  <h4> About Us</h4>
  <p>You can contact me through social media platforms, email and through my registered address</p>
  <div class="icons">
     <i class="fa fa-facebook"> </i>
     <i class="fa fa-instagram"></i>
     <i class="fa fa-envelope-o" ></i>
     <i class="fa fa-twitter" ></i>
     <i class="fa fa-linkedin" ></i>
  </div>
  <p> ALL RIGHTS RESERVED </p>

  <!---------This is the bottom of every page------------>