<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ("./partials/head") %>
</head>
<body>
  <%- include ("./partials/menu") %>
<!-----------------About me--------------->

<section class="About_Me">
  <h1> Portfolio Of Developer </h1>
  <p> Hey everyone, I'm Rohit, lead developer of this website. I love playing with technology<br> and gadgets. So I started my 
    own website that provides useful <br>services to users who are just starting there business in respective field. </p>
    <h2> My Journey </h2>
    <p> I started coding in 2015 in html and I found my interest in it. Soon I discovered many<br> languages to work with.
        I learned 3D software to enhance my GUI skills and overall experience.<br> In my college time I maded AI application and games.</p>

    <div class="About_me-col">
        <img src="/img/Rohit_photo.jpeg" >
    </div>
    <br>

   
   </section>
</body>

   <%- include ("./partials/script") %>
   <%- include ("./partials/footer") %>
</html>