<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ("./partials/head") %>

</head>
<body>
  <%- include ("./partials/menu") %>
  <!--main content -->
  <div class="text-box">
    <h1>Welcome to RT</h1>
    <p>Technology evolving everyday, so as we. You'll experience the best tech-services and news here.  </p>
    <a href="/about" class="hero-btn"> Explore More </a>

    </div>  
    
<!---------This is the homepage------------>

<%- include ("./partials/script") %>





  
</body>


</html>