<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ("./partials/head") %>
</head>
<body>
  <%- include ("./partials/menu") %>

<section class="Projects">
  <h1> Projects That I Worked On</h1>
  <p> I Worked on Shopping AI to resolve customer problems choosing right product in every aspect.</p>
  
  <div class="row">
      <div class="Projects-col">
          <h3> Shopping AI </h3>
          <p> I created an Artificial intelligence application that helps user to sort out similar things and give results That
            is best suitable for user. It took 6 months to develop during my college days. Lot of things, we can make easier using AI. 
            If you want to see the Demo, then fill a query in contact page.
          </p>
      </div>
  
      <div class="Projects-col">
          <h3> Car Game: Chase </h3>
          <p> I am a game developer too, during my 11th grade, I was fasinated by 3D softwares like Unreal Engine, Blender, Unity, etc. I 
            learned a lot from Youtube about vfx,rendering,mesh editing, texture mapping, etc. I created a game named chase which is a racing 
            game that supports multiple platform.
          </p>
      </div>
  
      <div class="Projects-col">
          <h3> Mobile App </h3>
          <p>Me and my friend maded an application for android that collects data from user and store it in cloud directory. Usually we work on 
            these projects during our summer break but we created this app during our fall semester.  
          </p>
      </div>
  <!---------These are the 3 projects that I worked on------------>
  </div>
  
  </section>
</body>
          
  <%- include ("./partials/script") %>
  <%- include ("./partials/footer") %>
</html>