<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head") %>
</head>
<body>
    <%- include ("./partials/menu") %>
<!-- service section -->
<section class="Services">

  <h1> Services </h1>
  <p> We are providing all types of tech services for you, feel free to navigate through all options</p>

  <div class="row">
      <div class="Services-col">
          <img src="/img/S1.jpg">
          <div class="layer">
              <h3>AI Development</h3>
          </div>
      </div>

      <div class="Services-col">
          <img src="/img/S2.jpg">
          <div class="layer">
              <h3> Client/Server Sites</h3>
          </div>
      </div>

      <div class="Services-col">
          <img src="/img/S3.jpg">
          <div class="layer">
              <h3>Game Development</h3>
          </div>
      </div>

  </div>

</section>
</body>
                  <!-- end of technology section -->         
             
                  <%- include ("./partials/script") %>
                  <%- include ("./partials/footer") %>
</html>